html,
body {
    height: 100%;
}

.page-signin {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

:root {
    --jumbotron-padding-y: 3rem;
}

.jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: #fff;
}
@media (min-width: 768px) {
    .jumbotron {
        padding-top: calc(var(--jumbotron-padding-y) * 2);
        padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }


#map {
    width: 100%;
    height: 700px;
}

#confirm-btn {
    position: absolute;
    top: 292px;
    opacity: 0.8;
    left: 174px;
}

#confirm-box {
    background-color: gray;
    width: 289px;
    position: absolute;
    border: 1px #000 solid;
    top: 175px;
    left: 101px;
    opacity: 0.8;
    color: white;
    padding: 5px 5px;
    border-radius: 5px;
}

#money-box {
    background-color: gray;
    width: 289px;
    position: absolute;
    border: 1px #000 solid;
    top: 103px;
    left: 101px;
    opacity: 1.0;
    color: white;
    padding: 5px 5px;
    border-radius: 5px;
    text-align: center;
}

#pro-award {
    top: 43%;
    position: absolute;
    right: 0;
    left: 37%;
    font-size: 50px;
    font-weight: 900;
    color: green;
    text-shadow: 4px 1px 6px rgba(144, 150, 150, 1);
}

#go-to-dashboard {
    top: 54%;
    position: absolute;
    right: 0;
    left: 45%;
}
